

h1 { color:green;}
p { background:lightcyan; font-family:Times;}


table { border: dashed 3px;
    overflow: auto;
    border-collapse: separate;
    }
table.collapsing { border: solid 3px;
    border-collapse: collapse;
    outline: solid 2px greenyellow;}
td, th ,tr{border: solid 1px;
    text-align: center;}
th{color: tomato;}
tr {background-color:rgb(137, 211, 134) ;}
th{background-color: yellow;}




 
   
    
    
    
    ul.navbar-vertical li {
      float:left;
      color:rgb(8, 245, 87);
      background-color:rgb(249, 253, 0);
    }
    
    ul.navbar-vertical a {
      display:block;
      padding:8px
    }
    
    /* on hover change the link color*/
    ul.navbar-vertical a:hover {  
      background-color: green;
      color:rgb(243, 11, 11);
    }
